@import "tailwindcss";
@import "@nuxt/ui";


:root {
--color-blue: oklch(66.85% 0.17582 260.7);
--color-blue-50: oklch(100% 0 none);
--color-blue-100: oklch(98.081% 0.00906 258.34);
--color-blue-200: oklch(89.967% 0.0486 260.89);
--color-blue-300: oklch(82.018% 0.08975 261.51);
--color-blue-400: oklch(74.222% 0.13277 261.06);
--color-blue-500: oklch(66.85% 0.17582 260.7);
--color-blue-600: oklch(57.957% 0.23039 261.17);
--color-blue-700: oklch(49.935% 0.22723 261.78);
--color-blue-800: oklch(40.624% 0.18173 261.53);
--color-blue-900: oklch(30.965% 0.13179 260.75);
--color-blue-950: oklch(25.869% 0.105 259.91);

}